.App {
  background-color: lightblue;
  background-size: 100%;
  color: black;
  padding: 50px;
}

h1 {
  padding: 0;
  font-size: 3em;
  text-align: center;
}

h3 {
  font-size: 2em;
  margin: 5px;
}

p {
  font-size: 1.4em;
  margin: 3px;
}

input {
  font-size: 1.5em;
  border-radius: 3px;
}

.input-container {
  display: flex;
  flex-direction: row;
}

.section-container {
  width: 33.3vw;
}

@media screen and (max-width: 1100px) {
  .input-container {
    text-align: center;
    flex-direction: column;
  }

  .section-container {
    width: auto;
    text-align: center;
  }
}

button, .button {
  font-size: 1.5em;
  border-radius: 5px;
  margin: 15px 0;
  outline: none
}

.rate-container {
  display: flex;
  flex-direction: row;
  border: 2px dotted black;
  border-radius: 4px;
  margin: 10px;
}

.rate-button {
  margin-right: 30px;
}

div.active {
  background-color: aqua;
}

